body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
}

h2, h3 {
  text-align: center;
}

.balance, .summary {
  text-align: center;
  margin-bottom: 20px;
}

.summary {
  display: flex;
  justify-content: space-around;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkmagenta;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  background-color: #eee;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-right: 5px solid;
}

.list li.plus {
  border-color: green;
}

.list li.minus {
  border-color: red;
}

.delete-btn {
  color: red;
  cursor: pointer;
}